In [29]:
select top 5 * from movie_gross

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Snow White and the Seven Dwarfs,2480-12-21,Musical,G,184925485,5228953251
Pinocchio,2483-02-09,Adventure,G,84300000,2188229052
Fantasia,2483-11-13,Musical,G,83320000,2187090808
Song of the South,2489-11-12,Adventure,G,65000000,1078510579
Cinderella,2493-02-15,Drama,G,85000000,920608730

In [28]:
select top 5 movie_title, format(inflation_adjusted_gross,'n0') [USD],
inflation_adjusted_gross * 33.0 [THB]
--format(inflation_adjusted_gross,'n0') * 33.0 [THB]
from movie_gross

movie_title,USD,THB
Snow White and the Seven Dwarfs,"5,228,953,251",172555457283.0
Pinocchio,"2,188,229,052",72211558716.0
Fantasia,"2,187,090,808",72173996664.0
Song of the South,"1,078,510,579",35590849107.0
Cinderella,"920,608,730",30380088090.0

In [27]:
--select 1+2, 1-2, 1*2, 1/2, 1.0/2.0  -- Math Operation สามารถรันได้เลยโดยไม่ต้องมี format ตาราง 
                                    --สำหรับการหารควรใช้เป็นเลขทศนิยม (decimal) เพื่อให้ได้ค่าที่ถูกต้อง หากใช้เป็นจำนวนเต็ม (integer) จะได้ผลลัพท์แบบปัดเศษเป็นจำนวนเต็มเสมอ
--select 2+3-4*6/2.0 -- คำนวณจากหาร > คูณ > บวก > ลบ ตามลำดับ ควรจะเขียนสมการโดยใช้วงเล็บคั่น เพื่อให้ทำในวงเล็บก่อนและลดความสับสนได้
--select 10%4 -- % เป็นการหารเพื่อแสดงค่าเศษเท่านั้น หากได้ 0 หมายถึง หารเลขลงตัว
--select power(2, 3) -- ฟังก์ชั่นยกกำลัง ตัวอย่างคือ 2 ยกกำลัง 3
--select sqrt(2) -- ฟังก์ชั่น squre root
--select pi() -- ฟังก์ชั่นค่า Pi
--select log(8) / log(2) -- ฟังก์ชั่นการหาค่า n จากสมการยกกำลัง ตัวอย่างคือ 2^n = 8